<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../assets/img/Logo1.png" alt="Logo" height="40px">
        </a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link"  aria-current="page" routerLink="/rollNumber"  >Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  aria-current="page" routerLink="/rollNumber" >RollNumber</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"  aria-current="page" routerLink="/batchYear">Batch Year</a>

                </li>

                <li class="nav-item">
                    <a class="nav-link"  aria-current="page" routerLink="/rollNumber">Opportunity</a>

                </li>


                <li class="nav-item">
                    <a class="nav-link"  aria-current="page" routerLink="/rollNumber">Contact</a>

                </li>
             
            </ul>
            <form class="form-inline d-flex my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" />   &nbsp;
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                    Search
                </button>
            </form>

            <div class="social-link p-3">
                <a class="social-links" href="#" class="facebook">
                    <i class="bi bi-bell-fill"></i></a>
                &nbsp;
                <a class="social-links" href="#" class="linkedin">
                    <i class="bi bi-person-circle"></i></a>
            </div>
        </div>
    </div>
</nav>