<app-header></app-header>
<div class="row">
    <div class="col-2">

        <div class="side-menu">
            <div class="side-bar bg-light p-5">
                <a class="side-bar" href="rollNumber"> Home</a>
                <hr />
                <a  routerLink="rollNumber"> DashBoard </a>
                <hr />
                <a  routerLink="rollNumber">item </a>
                <hr />
                <a routerLink="rollNumber"> item </a>
                <hr />
                <a  routerLink="rollNumber" > Orders</a>
                <hr />
                <a  routerLink="rollNumber"> Products </a>
                <hr />
                <a  routerLink="rollNumber"> LogOut </a>
                <hr />
            </div>
        </div>
        
        <!-- <app-side-header></app-side-header> -->
    </div>
    <div class="col-9  ">

        <router-outlet></router-outlet>
        
    </div>

</div>