<!-- <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../assets/img/Logo1.png" alt="Logo" height="40px">
        </a> -->




        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->









        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" routerLink="/rollNumber"  aria-current="page">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/rollNumber"  aria-current="page">About us</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"  aria-current="page" routerLink="/rollNumber">Membership</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"  aria-current="page" routerLink="/rollNumber">Opportunity</a>

                </li>


                <li class="nav-item">
                    <a class="nav-link"  aria-current="page" routerLink="/rollNumber">Contact</a>

                </li>
             
            </ul>
            <form class="form-inline d-flex my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" />   &nbsp;
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                    Search
                </button>
            </form>

            <div class="social-link p-3">
                <a class="social-links" href="#" class="facebook">
                    <i class="bi bi-bell-fill"></i></a>
                &nbsp;
                <a class="social-links" href="#" class="linkedin">
                    <i class="bi bi-person-circle"></i></a>
            </div>
        </div>
    </div>
</nav> -->






<!-- <div id="viewport">
    
    <div id="sidebar">
        
        <ul class="nav">
            <li>
                <a href="#">
                    <i class="zmdi zmdi-view-dashboard"></i> Dashboard
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="zmdi zmdi-link"></i> Shortcuts
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="zmdi zmdi-widgets"></i> Overview
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="zmdi zmdi-calendar"></i> Events
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="zmdi zmdi-info-outline"></i> About
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="zmdi zmdi-settings"></i> Services
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="zmdi zmdi-comment-more"></i> Contact
                </a>
            </li>
        </ul>
    </div>
</div> -->


<!-- <div class="side-menu sidebar "   style="width:15% ;">
    <div class="side-bar bg-light p-5">
        <a href="https://www.google.com/" routerLink="rollNumber"> Home</a>
        <hr />
        <a href="https://www.google.com/">Dashboard</a>
        <hr />
        <a href="https://www.google.com/"> Some Link </a>
     
     
        <hr />
        <a href="https://www.google.com/"> Some Link </a>
        <hr />
        <a href="https://www.google.com/"> Some Link </a>
        <hr />
        <a href="https://www.google.com/"> Some Link </a>
        <hr />
        <a href="https://www.google.com/"> Some Link </a>

      
    </div>
</div> -->
<!-- <router-outlet style="width:85%;"></router-outlet> -->
<!-- Content -->
<!-- <div id="content">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#"><i class="zmdi zmdi-notifications text-danger"></i>
                    </a>
                </li>
                <li><a href="#">Test User</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <h1>Simple Sidebar</h1>
        <p>
            Make sure to keep all page content within the
            <code>#content</code>.
        </p>
    </div>
</div> -->


<!-- <nav class="navbar navbar-expand-lg navbar bg-light p-3">
    <div class="container-fluid">
        <img src="../assets/ISTCOSA.png" alt="" />
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Contact-Us</a>
                </li>
            </ul>

            <form class="form-inline d-flex my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" />
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                    Search
                </button>
            </form>

            <div class="social-link p-3">
                <a class="social-links" href="#" class="facebook">
                    <i class="bi bi-bell-fill"></i></a>
                &nbsp;
                <a class="social-links" href="#" class="linkedin">
                    <i class="bi bi-person-circle"></i></a>
            </div>
        </div>
    </div>
</nav> -->


